.navbar {
  width: 100%;
  background: white;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 18px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #111;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.logo span {
  color: #287be8;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: #222;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  color: #287be8;
}